---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Lex">
	<main>
		<h1>Hi, I'm <span class="text-gradient">Lex</span></h1>
		
	</main>
</Layout>

<style>
	main {

	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		transform: rotate(-90deg)
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
</style>
